.email-address {
    border: 0 !important;
    padding: 2px 4px !important;
    border-radius: 4px !important;
    -webit-border-radius: 4px !important;
    box-sizing: border-box !important;
    -webit-box-sizing: border-box !important;
}

.email-address * {
    color: inherit !important;
    background-color: none !important;
}
